
:root{
    --main-color:#10cab7;
    --secandry-color:#2c4755;
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
    background-color: #2c4755;
}

.countener{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media(min-width: 768px){
    .countener{
        width: 750px;
    }
}

@media(min-width: 992px){
    .countener{
        width: 970px;
    }
}

@media(min-width: 1200px){
    .countener{
        width: 1170px;
    }
}
.header{
    padding: 20px;
}
.header .countener{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .countener i{
    font-size: 60px;
    color: var(--main-color);
}
/* .header .logo{
   width: 60px;
} */
.header .links{
    position: relative;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-end;
}
.header .links .icon span{
    background-color: rgb(7, 7, 7);
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul{
    display: block;
}
li a {
    display: block;
    text-decoration: none;
    color: #777;
    padding: 15px;
    transition: 0.3s;
}
li a:hover{
   padding-left: 25px;
}
li:not(:last-child) a{
    border-bottom: 1px solid #777;
}

/* end header */
.landing{
  background-image: url(../images/R.jfif);
  background-size:cover;
  height: calc(100vh - 100px);
  position: relative;
}
.landing .intro_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro_text h1{
 margin: 0;
 font-weight: bold;
 font-size: 50px;
 color: var(--main-color);
}
.landing .intro_text p{ 
    font-size: 19px;
   line-height:1.8;
}

/* end Landing */
 
.featurres{
   
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#f6f6f6;
    
}
.featurres .countener{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
    gap: 20px;
}
.featurres .feat{
    padding: 20px;
    text-align: center;
}
.featurres .feat i{
   color: var(--main-color);
   font-size: 25px;
}
.featurres .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.featurres .feat p {
    line-height: 1.0;
    color: #777;
    font-size: 17px;
  }

  /* End Featurres */
  .spicel-hading{

    text-align: center;
    color: #9da8b3;    
    /* #ebeced */
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
   

  }
  .spicel-hading + p {
  text-align: center;
  font-size: 20px;
  color: #777;
  margin: -20px 0 0;
  /* margin-right: 50%; */
  }
  .servesis{
    padding-top: 60px;
    padding-bottom: 60px;
   
    
  }
 .servesis .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
    /* margin-left: 25%; */
   
  
   
    
 }
 .servesis .services-content .srv{
   display: flex;
   margin-bottom: 40px;
 }
 .servesis .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 25px;
 }
 .servesis .services-content .srv .text{
    flex: 1;
 }
 .servesis .services-content .srv .text h3 {
  margin: 0 0 20px;
 }
 .servesis .services-content .srv .text p {
     color: #333;
     font-weight: 300;
     line-height: 1.3;
 }
 .servesis .services-content .image img{
    width: 300px;
 }
.servesis .services-content .image{
    text-align: center;
    position: relative;
 }
 .servesis .services-content .image::before{
   content: ""; 
   background-color: var(--secandry-color);
   width: 70px;
   height: calc(100% +  80px);
   top: -40px;
   position: absolute;
   right: 0;
   z-index: -1;

 }
 @media(max-width: 1199px){
  .image{
    display: none;
  }
 }

 /* End Servesis */
 .portfolio{
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
    /* margin-left: 215px; */
}
.portfolio .portfolio-content .card img{
   max-width:100%;
   width: 331.26; 
 }
 .portfolio .portfolio-content .card{
    background-color: white;
 }
 .portfolio .portfolio-content .card .info{
    padding: 20px;
 }
 .portfolio .portfolio-content .card .info h3{
   margin: 0;
 }
 .portfolio .portfolio-content .card .info p{
   color: #777;
   line-height: 1.3;
   margin-bottom: 0;
 }
 

/* End portfolio */

.about{
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: #f6f6f6; */
 }
 .about-content{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 @media(max-width : 991px){
   .about .about-content{
    flex-direction: column;
    text-align: center;
   }
 }

 .about .about-content .image img {
    max-width: 100%;
    background-color: white;
 }
 .about .about-content .image{
    position: relative;
    width: 250px;
    height: 275px;
   
 }
 @media(max-width : 991px){
    .about .about-content .image{
    margin: 0 auto 60px ;
    }
  }
 .about .about-content .image::before{
  content: "";
  position:absolute;
  background-color:#9da8b3;
  width: 40px;
  height: calc(100% + 80px);
  /* left: -20px; */
  z-index: -1;
  top: -40px;

 }
 .about .about-content .image::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 250px;
    border-left: 52px solid  var(--main-color);
    border-bottom: 62px solid  var(--main-color);
    top: -40px;
    right: -100px;
    z-index: -1;
   
 }
 @media(max-width : 991px){
    .about .about-content .image::before,
    .about .about-content .image::after
    { 
    display: none;
    }
  }
 .about .about-content .text {
   flex-basis: calc(100% - 500px);
 }
 .about .about-content .text p:first-child{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 40px;
 }
 .about .about-content .text hr{
    width: 50%;
    height: 5px;
    background-color: #10cab7;
    display:inline-block ;
    border-color: var(--main-color);
 }
 .about .about-content .text p:last-child{
    line-height: 2;
    color: #777;
 }
 .contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
 }
 .contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
 }
 .contact .info .label{
    font-size: 30px;
    font-weight: 800;
    color: var(--secandry-color);
    letter-spacing:-2px ;
    margin-bottom: 15px;
 }
 .contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;

 }
 .contact .info .social{
     display: flex;
     justify-content: center;
     margin-top: 20px;
     font-size: 18px;
 }
 .contact .info .social i{
    margin-left: 10px;
    color: var(--secandry-color);
 }

 /* End Contact */

 .footer{
    background-color: var(--secandry-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size:18px ;

 }
 .footer span {
    font-weight: bold;
    color: var(--main-color);
 }


    
